<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


  <!--For local use!-->
  <connectionStrings>
   <add connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename='c:\Users\ranger\documents\visual studio 2013\WebSites\WebSite2\App_Data\Database.mdf';Integrated Security=True" name="dbString"/>
    <!--<add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename='c:\Users\ranger\documents\visual studio 2013\WebSites\WebSite2\App_Data\Database.mdf';Integrated Security=SSPI;User Instance=True" name="dbString" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>


  <!--For remote use!-->

  <!-- <connectionStrings-->
  <!-- localhost key-->
  <!--add name="dbString" connectionString="Data Source=VHOST0466\SQLEXPRESS;Initial Catalog=metadata;Integrated Security=SSPI" providerName="System.Data.SqlClient"/-->

  <!--/connectionStrings-->


  <!--commented by megha <system.web>
    <compilation debug="false" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>-->

  <!--added by megha-->
<system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="*" />
       <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type,soapaction, Accept" />
     </customHeaders>
   </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>

